<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie+edge">
    <title>Recipe App</title>
</head>

<body>
  <h1>Recipe App</h1>
  <h2>Create a new Recipe:</h2>
    <form action="/recipes" method="post">
      <input type="text" name="name" >
      <button type="submit">Add</button>
    </form>

    <ul>
    {{#recipes}}
      <li>
          {{name}} - Add a Step:
          <form action="/recipes/{{_id}}/steps" method="post">
            <input type="text" name="description" >
            <button type="submit">Add</button>
          </form> 

      </li>
    {{/recipes}}
  </ul>


</body>

</html>
